{% extends "form_base.html" %}
{% block title %}Aggiungi Artista{% endblock %}
{% block header %}Aggiungi Artista a Evento{% endblock %}
{% block content %}
<form method="POST">
  {% csrf_token %}
  <p><label for="id_codice_evento">Codice Evento:</label>
  <input type="text" id="id_codice_evento" name="codice_evento" required></p>
  <p><label for="id_codice_artista">Codice Artista:</label>
  <input type="text" id="id_codice_artista" name="codice_artista" required></p>
  <button type="submit">Aggiungi</button>
</form>
{% endblock %}
