{% extends "form_base.html" %}
{% block title %}Aggiungi Lista PR{% endblock %}
{% block header %}Nuova Lista PR{% endblock %}
{% block content %}
<form method="POST">
  {% csrf_token %}
  <p><label for="id_codice_lista">Codice Lista:</label>
  <input type="text" id="id_codice_lista" name="codice_lista" required></p>
  <p><label for="id_nome_lista">Nome Lista:</label>
  <input type="text" id="id_nome_lista" name="nome_lista" required></p>
  <p><label for="id_codice_evento">Codice Evento:</label>
  <input type="text" id="id_codice_evento" name="codice_evento" required></p>
  <p><label for="id_codice_pr">Codice PR:</label>
  <input type="text" id="id_codice_pr" name="codice_pr" required></p>
  <button type="submit">Aggiungi</button>
</form>
{% endblock %}
