{% extends "form_base.html" %}
{% block title %}I Miei Biglietti{% endblock %}
{% block header %}Biglietti Acquistati{% endblock %}
{% block content %}
  {% for biglietto in biglietti %}
    <div style="padding: 10px 0;">
      <p><strong>Codice:</strong> {{ biglietto.codice_biglietto }}</p>
      <p><strong>Evento:</strong> {{ biglietto.nome_evento }}</p>
      <p><strong>Data:</strong> {{ biglietto.data_evento }}</p>
      <p><strong>Prezzo:</strong> {{ biglietto.prezzo_biglietto }}€</p>
      <p><strong>Tipo:</strong>
        {% if biglietto.tipo_biglietto == 'T' %}
          Tavolo
        {% else %}
          Standard
        {% endif %}
      </p>
      {% if biglietto.tipo_biglietto == 'T' %}
        <p><strong>Tavolo:</strong> {{ biglietto.nome_tavolo }} (Posti: {{ biglietto.posti_massimi }}, Area: {{ biglietto.area }})</p>
      {% endif %}
    </div>
    <hr>
  {% empty %}
    <p>Non hai biglietti acquistati.</p>
  {% endfor %}

  <a href="{% url 'dashboard' %}">Torna a home</a>
{% endblock %}
