{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h2>Benvenuto nella tua dashboard!</h2>

<ul>
    <li><a href="{% url 'area_personale_biglietti' %}">I miei biglietti</a></li>
    <li><a href="{% url 'area_personale_richieste' %}">Le mie richieste</a></li>
    <li><a href="{% url 'area_personale_serate_acquistate' %}">Le mie serate acquistate</a></li>

    {% if user_is_admin %}
    <li><a href="{% url 'gestione_eventi' %}">Gestione Eventi</a></li>
    <li><a href="{% url 'gestione_richieste' %}">Gestione Richieste</a></li>
    <li><a href="{% url 'gestione_artisti_db' %}">Gestione Artisti</a></li>
    <li><a href="{% url 'gestione_pr_db' %}">Gestione PR</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>

    {% else %}
    <li><a href="{% url 'logout' %}">Logout</a></li>
    {% endif %}
</ul>
{% endblock %}
