{% extends 'base.html' %}

{% block content %}
<h2>Login</h2>
<form method="post" action="">
    {% csrf_token %}
    <label for="id_utente">ID Utente:</label>
    <input type="text" name="id_utente" id="id_utente" required><br>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required><br>

    <button type="submit">Accedi</button>
</form>

{% if login_error %}
<p style="color: red;">{{ login_error }}</p>
{% endif %}

<p>Non sei ancora registrato? <a href="{% url 'registra_utente' %}">Registrati qui</a></p>
{% endblock %}

