{% extends "form_base.html" %}
{% block title %}Rimuovi Lista PR{% endblock %}
{% block header %}Rimuovi Lista PR{% endblock %}
{% block content %}
<form method="POST">
  {% csrf_token %}
  <p><label for="id_codice_evento">Codice Evento:</label>
  <input type="text" id="id_codice_evento" name="codice_evento" required></p>
  <p><label for="id_codice_pr">Codice PR:</label>
  <input type="text" id="id_codice_pr" name="codice_pr" required></p>
  <button type="submit">Rimuovi</button>
</form>
{% endblock %}
