{% extends "form_base.html" %}
{% block title %}Seleziona Tavolo{% endblock %}
{% block header %}Seleziona Tavolo per Biglietto{% endblock %}
{% block content %}
<form method="POST">
  {% csrf_token %}
  <p><label for="id_codice_tavolo">Codice Tavolo:</label>
  <input type="text" id="id_codice_tavolo" name="codice_tavolo" required></p>
  <p><label for="id_codice_biglietto">Codice Biglietto:</label>
  <input type="text" id="id_codice_biglietto" name="codice_biglietto" required></p>
  <button type="submit">Seleziona</button>
</form>
{% endblock %}
